.cart {
  &__container {
    padding-top: 50px;
  }

  &__title {
    font-family: 'Cera Round Pro', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
  }

  &__features-top {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #80808033;
  }

  &__value {
    margin-right: 5%;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Cera Round Pro', Arial, sans-serif;
    color: #2e2e2e;
    line-height: 1;
    position: relative;

    &::after {
      content: "\f158";
      display: inline-block;
      font-family: "FontAwesome";
      font-weight: 600;
      font-size: 14px;
      line-height: 1.1;
      margin-left: 0px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
  }

  &__btn-cart {
    margin: 0 3%;
  }

  &__btn-pay i,
  &__btn-cart i {
    display: none;
  }

  &__features-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 75px);
    padding-left: 5px;
    padding-top: 30px;
  }

  &__features-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;
  }

  &__features-head {
    font-size: 18px;
    color: gray;
  }

  &__slider {
    position: relative;
    order: -1;
    max-height: 585px;
    height: 100%;
  }
}

.count {
  display: flex;
  align-items: center;

  &__value {
    width: 29px;
    height: 29px;
    border: 1px solid #dce4e9;
    outline: none;
  }

  &__minus,
  &__plus {
    height: 33px;
    width: 33px;
    background-color: #ffffff;
    border: 1px solid #dce4e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #dce4e9;
    transition: .3s;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

@media screen and (min-width: 680px) {
  .cart__features-bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .cart__features-bottom {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .cart__container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: minmax(auto, 30%) minmax(auto, 70%);
  }
}

@media screen and (min-width: 300px) {
  .cart__container {
    display: grid;
  }

  .cart__img {
    width: 230px;
    order: -1;
  }
}

@media screen and (max-width: 768px) {
  .cart__features-top {
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .cart__features-bottom {
    grid-template-rows: repeat(auto);
    row-gap: 10px;
  }

  .cart__btn-pay i,
  .cart__btn-cart i {
    display: block;
  }

  .cart__btn-pay span,
  .cart__btn-cart span {
    display: none;
  }

  .cart__btn-cart,
  .cart__btn-pay {
    min-width: 75px;
  }
}

@media screen and (max-width: 480px) {
  .cart__features-bottom {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0;
  }

  .cart__features-block {
    padding: 10px;
    align-self: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}