@font-face {
  font-family: 'Cera Round Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../assets/fonts/CeraRoundProMediumRegular.woff2') format('woff2'),
    url('../assets/fonts/CeraRoundProMediumRegular.woff') format('woff'),
}

@font-face {
  font-family: 'Cera Round Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../assets/fonts/CeraRoundProBold.woff2') format('woff2'),
    url('../assets/fonts/CeraRoundProBold.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-300.woff2') format('woff2'),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-300.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2'),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-500.woff2') format('woff2'),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-500.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-600.woff2') format('woff2'),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-600.woff') format('woff'),
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-700.woff2') format('woff2'),
    url('../assets/fonts/open-sans-v34-latin_cyrillic-700.woff') format('woff'),
}