*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}