.product {
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    font-family: 'Cera Round Pro', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
    margin-bottom: 10px;
  }

  &__features-top {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #80808033;
  }

  &__value {
    margin-right: 5%;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Cera Round Pro', Arial, sans-serif;
    color: #2e2e2e;
    line-height: 1;
    position: relative;

    &::after {
      content: "\20BD";
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.1;
      margin-left: 0px;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
  }

  &__btn-product {
    margin: 0 3%;
  }

  &__btn-pay i,
  &__btn-product i {
    display: none;
  }

  &__features-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 75px);
    padding-left: 5px;
    padding-top: 30px;
  }

  &__features-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 18px;
  }

  &__features-head {
    font-size: 18px;
    color: gray;
  }

  &__slider {
    position: relative;
    order: -1;
    max-height: 585px;
    height: 100%;
  }
&__images-top {
  text-align: center;
  max-height: 450px;
  overflow: hidden;
}

&__img--active {
  max-height: 450px;
  object-fit: cover;
}

&__images-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  gap: 10px;
}

&__images-block .img {
  max-height: 100px;
}

&__images-block {
  cursor: pointer;
}

&__img {
  max-height: 100%;
}}

.count {
  display: flex;
  align-items: center;

  &__value {
    width: 40px;
    height: 33px;
    border: 1px solid #dce4e9;
    outline: none;
    text-align: center;
  }

  &__minus,
  &__plus {
    height: 33px;
    width: 33px;
    background-color: #ffffff;
    border: 1px solid #dce4e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: .3s;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

@media screen and (min-width: 680px) {
  .product__features-bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .product__features-bottom {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .product__container {
    display: grid;
    column-gap: 70px;
    grid-template-columns: minmax(auto, calc(100% - var(--size))) minmax(auto, var(--size));
  }
}

@media screen and (min-width: 300px) {
  .product__container {
    display: grid;
  }

  .product__img {
    width: 230px;
  }
  
  .product__images {
    order: -1;
  }
}

@media screen and (max-width: 768px) {
  .product__features-top {
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .product__features-bottom {
    grid-template-rows: repeat(auto);
    row-gap: 10px;
  }

  .product__btn-pay i,
  .product__btn-product i {
    display: block;
  }

  .product__btn-pay span,
  .product__btn-product span {
    display: none;
  }

  .product__btn-product,
  .product__btn-pay {
    min-width: 75px;
  }
}

@media screen and (max-width: 480px) {
  .product__features-bottom {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0;
  }

  .product__features-block {
    padding: 10px;
    align-self: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.zoom {
  display: inline-block;
  max-width: 230px;
  max-height: 450px;
}